<!-- post list -->
{{ $author := .Site.Params.author }}
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
        {{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
        {{ end }}
        <div class="post-content-preview">
            {{ with .Description }}
            {{ . }}
            {{ else }}
            {{ .Summary }}
            {{ end }}

            &emsp; ...
            <br> <br>
        </div>
    </a>
    <p class="post-meta">
        Posted by {{ with $author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}
        on {{ .Date.Format "2006-01-02" }}, Last Modified on {{ .Lastmod.Format "2006-01-02" }}

        <!--                        use on debug, home page-->
        <!--                        {{ .Date.Format "2006-01-02T15:04:05Z07:00" }},-->
        <!--                        Last Modified on {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}-->

    </p>

</div>
<hr>
{{ end }}
