<!-- post list -->
{{ $author := .Site.Params.author }}
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
	{{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
	{{ end }}
      <!--   <div class="post-content-preview">
	{{ with .Description }}
            {{ . }}
        {{ else }}
            {{ .Summary }}
       {{ end }}

            &emsp; ...
            <br>  <br>
        </div> -->
    </a>
    <p class="post-meta">
        Posted by {{ with $author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}
        on {{ .Date.Format "2006-01-02" }}

    <!-- Don't show "Last Modified on" if update happened on the same day. -->
    <!-- Basically if we didn't specify last modified time at the posts, .Lastmod = .Date        -->
    {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
    <br>Last Modified on {{ dateFormat "Monday, January 2, 2006" .Params.LastMod }}
    {{ end }}

    </p>

</div>
<hr>
{{ end }}
